body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #F1F0E9;
}

header {
    padding: 2vh;
    background-color: #024CAA;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    display: inline-block;
    align-items: center;
    font-weight: bold;
}

nav ul li a {
    color: #EDF2F4;
    text-decoration: none;
}

#hero {
    padding: 10vh 5%;
    background-color: #F1F0E9;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
}

.hero-content {
    background-color: #024baade;
    padding: 40px;
    border-radius: 10px;
    color: #EDF2F4;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

.hero-content h1 {
    font-size: 28px;
    margin-top: 0;
    text-align: center;
}

.hero-button {
    background-color: #ffffffde;
    color: #000;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

.hero-button:hover {
    background-color: #ddd;
}

.hero-image {
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}

footer {
    color: #000000;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
}

footer a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    #hero {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
        position: relative;
    }

    .hero-content,
    .hero-image {
        position: static;
        transform: none;
        max-width: 90%;
        margin: 0 auto;
    }

    .hero-image {
        margin-top: 20px;
        width: 90%;
    }

    .hero-button {
        margin: 20px auto 0;
    }
}
