@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #8AA29E;
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    width: 8%;
}
.logo img {
    width: 100px;
    border-radius: 50px;
    padding: 6px;
    vertical-align: middle;
}

/* Navigacija */
nav {
    position: absolute;
    left: 40%;
}
nav a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    background-image: url("");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

footer {
    background: #8AA29E;
    color: black;
    margin-top: auto;
}