body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #F1F0E9;
}

header {
    padding: 10px;
    background-color: #024CAA;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    display: inline-block;
    align-items: center;
    font-weight: bold;
}

nav ul li a {
    color: #EDF2F4;
    text-decoration: none;
}

/*  */

section {
    padding: 20px;
    color: #EDF2F4;
}

footer {
    color: #000000;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
}

footer a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}


li {
    margin: 0;
    padding: 0;
}

#hero {
    height: 85vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-image {
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

.hero-content {
    background: #024baade;
    padding: 20px;
    border-radius: 10px;
    color: #EDF2F4;
    text-align: justify;
    text-justify: inter-word;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    max-width: 30%;
    font-size: 18px;
}

.hero-content h1 {
    text-align: center;
    font-weight: bold;
}

.button {
    background-color: #024baade;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    display:block;
    margin-top: 280px;
    margin-right: 55%;
    border-radius: 10px;
}

.button:hover {
    background-color: #00224ede;
}